/* ================= CSS RESET ========================= */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: #363636;
  /*color: #a8a7a7;*/
  color: #fff;
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: #e8175d;
  border-radius: 5px;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
  padding: 5px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #fff;
}

ul {
  list-style: none;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  font-family: sans-serif;
  font-family: "Karla", sans-serif;
  background-color: #474747;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.fact-form {
  background-color: #474747;
}
